body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6e6;
  height: 100%;
}

div.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background: white;
  height: auto;
}

aside {
  padding: 40px 0;
  width: 30%;
  min-width: 250px;
  background: #c2ccd8;
}

aside div.me > img {
  display: block;
  border: 4px solid #4a515c;
  border-radius: 50%;
  margin: 0 auto;
}

a.experience-btn,
a.education-btn,
a.skills-btn,
aside div.contact > div,
aside div.social-media > div,
aside div.hobbies-title,
aside div.language-title,
aside div.personal-projects > div,
aside div.computer-skills > div,
aside div.qr div {
  background: #4a515c;
}

aside div.me h2 {
  text-align: center;
}

aside div ul li p,
aside div ul li a {
  margin: 5px 0 5px 5px;
}

aside div.contact ul li {
  display: flex;
  align-items: center;
}

aside div.hobbies img {
  width: 50px;
  margin: 10px 0;
}

aside div.hobbies {
  display: flex;
  justify-content: space-evenly;
}

aside div.language {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

aside div.contact > div,
aside div.social-media > div,
aside div.hobbies-title,
aside div.language-title,
aside div.personal-projects > div,
aside div.computer-skills > div,
aside div.qr div {
  display: flex;
  height: 30px;
  margin: 10px auto;
  padding: 4px 12px;
  align-items: center;
  box-shadow: 0 4px 8px 0 black;
}

aside div.contact > div img,
aside div.social-media > div img,
aside div.hobbies-title img,
aside div.language-title img,
aside div.personal-projects > div img,
aside div.computer-skills > div img,
aside div.qr div img {
  height: 28px;
}

aside h3 {
  margin-left: 10px;
}

aside ul {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
}

aside ul li {
  margin: 8px;
  display: flex;
  align-items: center;
}

aside div.qr {
  display: none;
}

aside ul li a {
  display: block;
  text-decoration: none;
  color: black;
}
aside .myid ul li a:hover,
aside .social-media ul li a:hover,
aside .personal-projects ul li a:hover {
  color: #4a515c;
  transform: scale(1.1);
  transition-delay: 222ms;
  transition-duration: 500ms;
}

.language img {
  width: 50px;
  height: 40px;
}

aside .computer-skills p {
  width: 180px;
}

aside div.qr > img {
  display: block;
  margin: 30px auto 0;
  box-shadow: 0 4px 8px 0 black;
}

.content {
  width: 70%;
  background: white;
  border-left: 3px solid #4a515c;
}

section {
  position: relative;
  display: flex;
  margin: 50px 0;
}

section article {
  margin-top: 20px;
}

section article h3 {
  margin: 0;
}

section > div {
  margin: 0 20px 0 35px;
}

section img {
  width: 50px;
  height: 50px;
}

article img {
  margin-right: 10px;
  border-radius: 30%;
  width: 50px;
  height: 50px;
  box-shadow: 4px 0 5px 0 black;
}

article img:hover {
  transform: rotateY(360deg);
  transition: 4s;
}
section div div,
div.computer-skills article,
article > div {
  display: flex;
  align-items: center;
}

article div h4 {
  margin: 15px 0;
}

time {
  display: inline-block;
  margin: 4px 0;
}

a.experience-btn,
a.education-btn,
a.skills-btn {
  position: absolute;
  left: -140px;
  top: 200px;
  transform: rotate(270deg);
  height: 20px;
  width: 300px;
  border-radius: 0 0 20px 20px;
  border: 1px solid black;
  border-top: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

a.experience-btn:active,
a.education-btn:active,
a.skills-btn:active {
  box-shadow: 0 4px 4px 0 gray;
  text-decoration: none;
  background: none;
}

#progressbar {
  border-radius: 13px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 black;
  width: 100%;
  height: 16px;
}

#progressbar > div {
  height: 16px;
  border-radius: 10px;
  padding-left: 4px;
}

li.eplan div#progressbar div {
  background-color: rgb(221, 0, 26);
  width: 80%;
}

li.autocad div#progressbar div {
  background-color: rgb(127, 18, 22);
  width: 70%;
}

li.html div#progressbar div {
  background-color: rgb(222, 75, 37);
  width: 60%;
}

li.css div#progressbar div {
  background-color: rgb(0, 122, 204);
  width: 50%;
}

li.javascript div#progressbar div {
  background-color: rgb(240, 219, 79);
  width: 40%;
}

li.typescript div#progressbar div {
  background-color: rgb(0, 122, 204);
  width: 15%;
}

li.react div#progressbar div {
  background-color: rgb(0, 216, 255);
  width: 15%;
}

li.git div#progressbar div {
  background-color: rgb(233, 78, 50);
  width: 20%;
}

@media only screen and (max-width: 600px) {
  aside {
    min-width: 230px;
  }
  aside ul {
    margin: 0;
  }
  aside ul li {
    margin: 3px;
  }

  section.skills article {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 525px) {
  div.wrapper {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  aside ul.myid {
    margin-left: 15%;
  }
  aside ul.projects,
  aside ul.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  aside ul.social a {
    width: 75px;
  }

  .content {
    width: 100%;
    background: white;
    border: 0;
  }
  section > div {
  }
}

@media print {
  div.wrapper .content img {
    width: 40px;
    height: 40px;
  }
  aside div.contact img,
  aside div.social-media img,
  aside div.personal-projects img,
  aside div.computer-skills img {
    width: 28px;
    height: 28px;
  }

  .content {
    padding-bottom: 300px;
  }
  a.experience-btn,
  a.education-btn,
  a.skills-btn {
    display: none;
  }

  aside div.qr {
    display: block;
  }

  section.experience,
  section.education {
    margin: 20px;
  }

  section.experience,
  section.skill,
  section article {
    margin-top: 0;
  }

  aside .computer-skills,
  article.electrica {
    margin-top: 400px;
  }

  section.experience,
  section.skills {
    margin: 0;
  }

  section ul {
    margin-top: 5px;
  }
}
